@font-face {
  font-family: point-panther;
  src: url("../src/assets/fonts/PointPanther.otf");
}

@font-face {
  font-family: harmonia;
  src: url("../src/assets/fonts/HarmoniaSansRegular.otf");
}

@import "tailwindcss";

@theme {
  --font-point-panther: point-panther, "sans-serif";
  --font-harmonia: harmonia, "sans-serif";

  --color-honeybee: #fcb000;
  --color-deepblue: #0e2e55;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-marquee-left {
  animation: marquee-left 25s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 25s linear infinite;
}

.animate-marquee-left-slow {
  animation: marquee-left 30s linear infinite;
}

.animate-marquee-right-slow {
  animation: marquee-right 30s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}
